<% places.each do |place| %>
  <div class="col-md-4 col-sm-6 portfolio-item">
    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal<%= place.id %>">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-plus fa-3x"></i>
        </div>
      </div>
      <%= image_tag place.imgurl, class: 'img-fluid' %>
      <!-- <img class="img-fluid" src="https://goo.gl/yrq3Z7" alt=""> -->
    </a>
    <div class="portfolio-caption">
      <h4><%= place.name %></h4>
      <p class="text-muted">Illustration</p>
    </div>
  </div>

  
<% end %>