// Place all the styles related to the Prefereces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* .button, select {
    text-transform: none;
    width: 300px;
    height: 50px;
    font-size: 40px;
} */